/* Global styles */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  color: #222;
}

h4 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #222;
}

h5 {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #222;
}

p {
  font-size: 1.2rem;
  margin: 2rem auto;
  text-align: center;
  max-width: 800px;
  color: #444;
}

input[type=text] {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #0097d0;
  background-color: #fff;
  margin-bottom: 0.5rem;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #0097d0;
}

.checkmark:before {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #0097d0;
}

input[type="radio"]:checked ~ .checkmark:before {
  display: block;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

input[type=submit] {
  font-size: 1.2rem;
  background-color: #76cf1b;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: background-color 0.2s ease-in-out;
}

input[type=submit]:hover {
  background-color: #5da417;
}

/* Styles for search section */

.search_section {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 800px;
  padding: 2rem;
}

.search_radio_buttons {
  margin-bottom: 1rem;
}

.search_boxes_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search_boxes_column {
  flex: 1;
}

.error_message{
  color: red;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}

#left_input_label,
#right_input_label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Media queries */

@media (max-width: 768px) {
  .search_boxes_wrapper {
    flex-direction: column;
  }
  
  .search_boxes_column {
    margin-top: 1rem;
  }
}
