  {% extends 'base.html' %}

  {% block head %}
  <title>SongSurf Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
  {% endblock %}
  
  {% block body %} 
  
  <html>
  <head>
  <title>SongSurf Homepage </title>
  <body style="background-color: #c9e9cb">
  <tr>
  
  <!--<td align="center" style="color:#ffffff;font-size:50px;text-shadow:2px 2px 2px #27ae60">SongSurf</td>-->
  <td>
    <div style="margin-left: 120px; margin-right: 10;">
      <img src='static/css/images/SongSurf Logo.png' style="width:250px" height="100px">
    </div>
  </td>
    
  
  </tr>
  </table><br><br><br><br><br><br><br>
  
  <div style="margin-left: 120px; margin-right: 10;" class="slideshow-container">
  
  <div class="mySlides fade"> 
    <div class="numbertext"></div>
    <img class="img" src="static/css/images/music1.png">
    <div class="text"></div>
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img class="img" src="static/css/images/music2.png">
    <div class="text"></div>
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img class="img" src="static/css/images/music3.png">
    <div class="text"></div>
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img class="img" src="static/css/images/music4.png">
    <div class="text"></div>
  </div>
  <div style="text-align:center">
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
  </div>
  </div>
  <br>
  </td>
  </tr>
  
  <script>
  var slideIndex = 0;
  showSlides();
  
  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 4000); // Change image every 4 seconds
  }
  </script>
  <div class="about-container">
    {% if logged_in %}
    <p> Discover new music or artists that you'll love through an informative, attractive, and intuitive website.</p>
      <h2>Welcome {{ username }}!</h2> <p>Start Surfing Now! &#x1F30A;</p>
      
      <a href="{{ url_for('search_page') }}">Surf</a>
    {% else %}
      <p>
        Discover new music or artists that you'll love through an informative, attractive, and intuitive website.<br>
        Join now to track your favorite discoveries for future use and for more personalized recommendations!
        </p>
        <a href="{{ url_for('login_page') }}">Join</a>
        <h2></h2>
        <a href="{{ url_for('search_page') }}">Surf as Guest</a>
    {% endif %}
      

  </div>


</body>
</html>
{% endblock %}
