{% extends 'base.html' %} <!-- Based off the base.html (where skeleton html is like navi bar)-->


{% block head %}
<title>SongSurf Homepage</title>
{% endblock %}

{% block body %} 

<h1>SongSurf</h1>
<p> SongSurf allows you to discover new music that
  you'll love through an informative, attractive, and intuitive website. 
  Input your favorite artists, albums, or songs and receive recommendations based on what you love.
  SongSurf also allows you to track your favorite discoveries for future use   .</p>

{% endblock %}
