{% extends 'base.html' %} <!-- Based off the base.html (where skeleton html is like navi bar)-->


{% block head %}
<title>SongSurf Reccomendations</title>
{% endblock %}

{% block body %} 

<h1>SongSurf</h1>
<p> SongSurf allows you to discover new music that
  you'll love through an informative, attractive, and intuitive website. 
  Input your favorite artists, albums, or songs and receive recommendations based on what you love.
  SongSurf also allows you to track your favorite discoveries for future use   .</p>

<div class="content">
  <h2>Here are the some Artists based off what you like:</h2>
  <p>Artist - William da God</p>
  <p>Artist - $IKH $HABAJ</p>
  <p>Artist - Paddy P</p>
</div>

<div class="dev_only">
  <p> Temporarily here: </p>
  Your album artist song searches retrieved from the database:
  {{ user.aas_searches }}
</div>

{% endblock %}
