{% extends 'base.html' %} <!-- Based off the base.html (where skeleton html is like navi bar)-->



{% block head %}
<title>SongSurf recommendations</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommend_page.css') }}">
{% endblock %}

{% block body %} 

<!-- <h1>SongSurf</h1> -->
<div style="text-align: center;">
  <a href="{{ url_for('home_page') }}" ><img src='static/css/images/SongSurf Logo.png' style="width:250px; height:100px;"></a>
</div>

<!-- Button to open the favorites tab -->
<button class="favorites-button">Favorites</button>

<!-- The sliding favorites tab -->
<div class="favorites-tab">
  <div class="close-button">&times;</div>
  <div style= "text-align: center; align-items: center;"><h2>Your Favorites</h2>
  </div>
    <!-- Add your favorite items here -->
    {% if user == 2 %}
    <div>
      <h1 style="text-align: center;"> <span>To see favorites</span><a href="{{ url_for('login_page') }}"><br>Join SongSurf</a><h1>
    </div>
    {% else %}
      <h2 style= "text-align: center; align-items: center;"> <u>Artists &#127908;</u> </h2>
      {% for favorite in favorites %}
        {% if favorite.artist_id is defined and favorite.album_id is not defined %}
          <li style= "text-align: center; align-items: center;">{{ favorite.name }}</li>
        {% endif %}
      {% endfor %}
      <h2 style= "text-align: center; align-items: center;"> <u>Albums &#127926;</u> </h2>
      {% for favorite in favorites %}
        {% if favorite.album_id is defined %}
          <li style= "text-align: center; align-items: center;">{{ favorite.name }}</li>
        {% endif %}
      {% endfor %}
      <h2 style= "text-align: center; align-items: center;"> <u>Tracks &#127925;</u> </h2>
      {% for favorite in favorites %}
        {% if favorite.track_id is defined %}
          <li style= "text-align: center; align-items: center;">{{ favorite.name }}</li>
        {% endif %}
      {% endfor %}
    {% endif %}


</div>
  
<div class="content">
  <h2 style="text-align:center;">Here are some {{ user_choice }} {{ guest_error_message }} you caught in the wave! &#x1F30A;</h2>
  <div class="recommendations">
    {% for rec in recommendations %}
    <div class="recommendation-container">
      <h2>{{ rec.name }}</h2>
      {% if item_type == 'album' or item_type == 'track' %}
      <!-- <h3>By {{ rec.artist_name }}</h3> This currently doesnt work --> 
      {% endif %}
      {% if rec is iterable and not rec|string %}
        {% for r in rec %}
          <div class="recommendation_section">
            <div style="display: flex; justify-content: center; align-items: center;">
              <img src={{rec.image}} style="width:250px; height:250px;" alt="Image">
            </div>            
            <p class="description"><a class="link" href={{rec.audio_link}} target="_blank"><br>Listen Now</a></span></p>
            <!-- <iframe src="{{ rec.video_link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
            {% if rec.description|length != 1 %}
              {% if rec.description|length > 235 %}
                <div class="description-container">
                  <p class="description">{{ rec.description[:150] }}<span>...<a class="link" href={{rec.url_link}} target="_blank">Read More!</a></span></p>
                </div>
              {% else %}
                <div class="description-container">
                  <p class="description">{{ rec.description }}<span><a class="link" href={{rec.url_link}} target="_blank">Read More!</a></span></p>
                </div>
              {% endif %}
            {% else %}
              <div class="description-container">
                <p class="description">No description available! Click "More Information" to see other details about the recommendation!<span><a class="link" href={{rec.url_link}} target="_blank">More Information!</a></span></p>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <div class="recommendation_section">
          <div style="display: flex; justify-content: center; align-items: center;">
            <img src={{rec.image}} style="width:250px; height:250px;" alt="Image">
          </div>          
            <p class="description"><a class="link" href={{rec.audio_link}} target="_blank">Listen Now</a></p>
            <!-- <iframe src="{{ rec.video_link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
            {% if rec.description|length != 1 %}
              {% if rec.description|length > 235 %}
                <div class="description-container">
                  <p class="description">{{ rec.description[:150] }}<span>...<a class="link" href={{rec.url_link}} target="_blank">Read More!</a></span></p>
                </div>
              {% else %}
                <div class="description-container">
                  <p class="description">{{ rec.description}}<span><a class="link" href={{rec.url_link}} target="_blank">Read More!</a></span></p>
                </div>
              {% endif %}
            {% else %}
              <div class="description-container">
                <p class="description">No description available! Click "More Information" to see other details about the recommendation!<span><a class="link" href={{rec.url_link}} target="_blank">More Information!</a></span></p>
              </div>
            {% endif %}
        </div>
      {% endif %}
      <form action="/recommend_page" method="POST">
        <div class="like-dislike-container">
          <div class="like-dislike">
            {% if item_type == 'album' %}
            <button class="like-button" name="like_dislike_button" onclick="sendFeedback('like', '{{ rec.album_id }}')">&#x1F44D;</button>
            <button class="dislike-button" name="like_dislike_button" onclick="sendFeedback('dislike', '{{ rec.album_id }}')">&#x1F44E;</button>
            {% endif %}
            {% if item_type == 'artist' %}
            <button class="like-button" name="like_dislike_button" onclick="sendFeedback('like', '{{ rec.artist_id }}')">&#x1F44D;</button>
            <button class="dislike-button" name="like_dislike_button" onclick="sendFeedback('dislike', '{{ rec.artist_id }}')">&#x1F44E;</button>
            {% endif %}
            {% if item_type == 'track' %}
            <button class="like-button" name="like_dislike_button" onclick="sendFeedback('like', '{{ rec.track_id }}')">&#x1F44D;</button>
            <button class="dislike-button" name="like_dislike_button" onclick="sendFeedback('dislike', '{{ rec.track_id }}')">&#x1F44E;</button>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
{% endfor %}
</div>
    
<div style="display: flex; align-items: center; justify-content: center;">
  <div style="margin-right: 235px;">
    <a href="{{ url_for('search_page') }}" ><img src='static/css/images/backarrow.png' style="width:75px; height:45px;"></a>
  </div>
  <div style="width: calc(20% - 15px); margin-left: 550px;">
    {% if not no_more_recs %}
    <form action="/recommend_page" method="POST">
      <h2><input type="submit" class="surf-button" name="refresh_button" value="&#x1F3C4; Catch Another Wave! &#x1F30A;" style="width: 100%;" onclick="showLoading()"> </h2> <!-- SURF Button to go to recommend_page -->
    </form> 
    {% else %}
    <h2 style="white-space: nowrap; color:#0097d0;">Low-tide at the moment, search for new waves!</h2>
    {% endif %}
    
  </div>
</div>
{% if user == 2 %}
<div>
  <h1 style="text-align: center;"> <span>To like/dislike and more - </span><a href="{{ url_for('login_page') }}">Join SongSurf</a><h1>
</div>
{% endif %}


<script>
  function sendFeedback(feedback, recId) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/recommend_page');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
      if (xhr.status === 200) {
        console.log(xhr.responseText);
      } else {
        console.log('Request failed. Status:', xhr.status);
      }
    };
    xhr.onerror = function() {
      console.log('Request failed. Network Error.');
    };
    var formData = 'feedback=' + encodeURIComponent(feedback) +
                   '&recId=' + encodeURIComponent(recId);
    xhr.send(formData);
  }
</script>



<script src="../static/javascript/search_box.js"></script>

<script>
function showLoading() {
document.getElementById("loading").style.display = "block";
document.getElementById("submit-button").disabled = true;
}
function hideLoading() {
document.getElementById("loading").style.display = "none";
document.getElementById("submit-button").disabled = false;
}

window.addEventListener('pageshow', hideLoading);
</script>

<script>
  const favoritesButton = document.querySelector('.favorites-button');
  const favoritesTab = document.querySelector('.favorites-tab');
  const closeButton = document.querySelector('.favorites-tab .close-button');
  const overlay = document.createElement('div');
  overlay.classList.add('overlay');
  document.body.appendChild(overlay);

  favoritesButton.addEventListener('click', () => {
      favoritesTab.classList.add('open');
      document.body.style.overflow = 'hidden'; // Hide the scrollbar when the tab is open
      overlay.style.display = 'block';
  });

  closeButton.addEventListener('click', () => {
      favoritesTab.classList.remove('open');
      document.body.style.overflow = 'auto'; // Show the scrollbar when the tab is closed
      overlay.style.display = 'none';
  });
</script>

{% endblock %}