{% extends 'base.html' %} <!-- Based off the base.html (where skeleton html is like navi bar)-->



{% block head %}
<title>SongSurf recommendations</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommend_page.css') }}">
{% endblock %}

{% block body %} 

<!-- <h1>SongSurf</h1> -->
<div style="text-align: center;">
  <a href="{{ url_for('home_page') }}" ><img src='static/css/images/SongSurf Logo.png' style="width:250px; height:100px;"></a>
</div>

<!-- Button to open the favorites tab -->
<button class="favorites-button">Favorites</button>

<!-- The sliding favorites tab -->
<div class="favorites-tab">
  <div class="close-button">&times;</div>
  <h3>Your Favorites</h3>
  <!-- Add your favorite items here -->
</div>
  
<div class="content">
  <h2 style="text-align:center;">Here are some {{ user_choice }} you caught in the wave! &#x1F30A;</h2>
  <div class="recommendations">
    {% for rec in recommendations %}
    <div class="recommendation-container">
      <h2>{{ rec.name }}</h2>
      {% if item_type == 'album' or item_type == 'track' %}
      <!-- <h3>By {{ rec.artist_name }}</h3> This currently doesnt work --> 
      {% endif %}
      {% if rec is iterable and not rec|string %}
        {% for r in rec %}
          <div class="recommendation_section">
            <!--<img src={{rec.image}} alt="Image">-->
            <iframe src="{{ rec.video_link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            {% if rec.description|length != 1 %}
              {% if rec.description|length > 235 %}
                <div class="description-container">
                  <p class="description">{{ rec.description[:150] }}<span>...<a class="link" href={{rec.url_link}} target="_blank">Read More!</a></span></p>
                </div>
              {% else %}
                <div class="description-container">
                  <p class="description">{{ rec.description }}<span><a class="link" href={{rec.url_link}} target="_blank">Read More!</a></span></p>
                </div>
              {% endif %}
            {% else %}
              <div class="description-container">
                <p class="description">No description available! Click "More Information" to see other details about the recommendation!<span><a class="link" href={{rec.url_link}} target="_blank">More Information!</a></span></p>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <div class="recommendation_section">
            <!--<img src={{rec.image}} alt="Image">-->
            <iframe src="{{ rec.video_link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            {% if rec.description|length != 1 %}
              {% if rec.description|length > 235 %}
                <div class="description-container">
                  <p class="description">{{ rec.description[:150] }}<span>...<a class="link" href={{rec.url_link}} target="_blank">Read More!</a></span></p>
                </div>
              {% else %}
                <div class="description-container">
                  <p class="description">{{ rec.description}}<span><a class="link" href={{rec.url_link}} target="_blank">Read More!</a></span></p>
                </div>
              {% endif %}
            {% else %}
              <div class="description-container">
                <p class="description">No description available! Click "More Information" to see other details about the recommendation!<span><a class="link" href={{rec.url_link}} target="_blank">More Information!</a></span></p>
              </div>
            {% endif %}
        </div>
      {% endif %}
      <div class="like-dislike-container">
        <div class="like-dislike">
          <button class="like-button">&#x1F44D;</button>
          <button class="dislike-button">&#x1F44E;</button>
        </div>
      </div>
    </div>
{% endfor %}
</div>
    
<div style="text-align: center;">
  <a href="{{ url_for('search_page') }}" ><img src='static/css/images/backarrow.png' style="width:75px; height:45px;"></a>
</div>
  <form action="/recommend_page" method="POST">
    <h2><input type="submit" class="surf-button" value="&#x1F3C4; Catch Another Wave! &#x1F30A;" onclick="showLoading()"> </h2> <!-- SURF Button to go to recommend_page -->
    
  </form>

<script src="../static/javascript/search_box.js"></script>

<script>
function showLoading() {
document.getElementById("loading").style.display = "block";
document.getElementById("submit-button").disabled = true;
}
function hideLoading() {
document.getElementById("loading").style.display = "none";
document.getElementById("submit-button").disabled = false;
}

window.addEventListener('pageshow', hideLoading);
</script>

<script>
  const favoritesButton = document.querySelector('.favorites-button');
  const favoritesTab = document.querySelector('.favorites-tab');
  const closeButton = document.querySelector('.favorites-tab .close-button');
  const overlay = document.createElement('div');
  overlay.classList.add('overlay');
  document.body.appendChild(overlay);

  favoritesButton.addEventListener('click', () => {
      favoritesTab.classList.add('open');
      document.body.style.overflow = 'hidden'; // Hide the scrollbar when the tab is open
      overlay.style.display = 'block';
  });

  closeButton.addEventListener('click', () => {
      favoritesTab.classList.remove('open');
      document.body.style.overflow = 'auto'; // Show the scrollbar when the tab is closed
      overlay.style.display = 'none';
  });
</script>

{% endblock %}