{% extends 'base.html' %} <!-- Based off the base.html (where skeleton html is like navi bar)-->


{% block head %}
<title>SongSurf Searchpage</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/search_page.css') }}">
{% endblock %}

{% block body %} 

<!-- <h1>SongSurf</h1> -->
<div style="text-align: center;">
  <a href="{{ url_for('home_page') }}" ><img src='static/css/images/SongSurf Logo.png' style="width:250px; height:100px;"></a>
</div>


<p> SongSurf allows you to discover new music that
  you'll love through an informative, attractive, and intuitive website. 
  Input your favorite artists, albums, or songs and receive recommendations based on what you love.</p>

  <form action="/search_page" method="POST"> <!-- Everything within this form section interacts with backend to send data -->

    <div class="search_section">

      <div class="search_radio_buttons"> <!-- Radio buttons to select what to show user -->
        <h4>Find Me:</h4>
        <label>
          <input type="radio" name="show_type" value="Artists" onclick="updateSearchLabel('Artist'); hideAdditionalBoxes();">
          <span class="checkmark"></span>
          Artists &#127908;
        </label>
        <br>
        <label>
          <input type="radio" name="show_type" value="Albums" onclick="updateSearchLabel('Album'); showAdditionalBoxes(3);">
          <span class="checkmark"></span>
          Albums &#127926;
        </label>
        <br>
        <label>
          <input type="radio" name="show_type" value="Tracks" onclick="updateSearchLabel('Track'); showAdditionalBoxes(3);">
          <span class="checkmark"></span>
          Tracks &#127925;
        </label>
        <br>
      </div>
      
      <div class="search_boxes"> <!-- Search boxes for user to input what they love -->
        <h4>Enter up to 3 <span id="search_label"></span>s you love:</h4>
        <h4 id="label_title" style="font-weight:bold;"></h4>
        <h5>Note: if you chose albums or tracks enter the artist's name on the right </h5>
        <div class="search_boxes_wrapper">
          <div class="search_boxes_column">
            <ol>
              <span id="left_input_label"></span>
              <li>
                <input type="text" name="user_choice1" id="user_choice1">
              </li>
              <li>
                <input type="text" name="user_choice2" id="user_choice2">
              </li>
              <li>
                <input type="text" name="user_choice3" id="user_choice3">
              </li>
            </ol>
          </div>
          <div class="search_boxes_column">
            <ol>
              <span id="right_input_label"></span>
              <li id="additional_box_1" style="display: none;">
                <input type="text" name="user_choice4" id="user_choice4">
              </li>
              <li id="additional_box_2" style="display: none;">
                <input type="text" name="user_choice5" id="user_choice5">
              </li>
              <li id="additional_box_3" style="display: none;">
                <input type="text" name="user_choice6" id="user_choice6">
              </li>
            </ol>
          </div>
        </div>
      </div>
      
      <div id="loading" style="display: none;">
        <img src="static/css/images/loading.gif" alt="Loading" style="width: 50px; height: 50px;">
      </div>

      
      <h4 class = "error_message">{{message}}</h4>
      <input type="submit" value="SURF" onclick="showLoading()"> <!-- SURF Button to go to reccomend_page -->
  
    </div>
  </form>

  <script src="../static/javascript/search_box.js"></script>

  <script>
    function showLoading() {
    document.getElementById("loading").style.display = "block";
    document.getElementById("submit-button").disabled = true;
    }
    function hideLoading() {
    document.getElementById("loading").style.display = "none";
    document.getElementById("submit-button").disabled = false;
    }

   window.addEventListener('pageshow', hideLoading);
  </script>

  <script>
  function updateSearchLabel(label) {
    var searchLabel = document.getElementById("search_label");
    searchLabel.innerHTML = label;
    if (label === "Artist") {
      document.getElementById("left_input_label").innerHTML = "Artist name:";
      document.getElementById("right_input_label").innerHTML = "";
    } else {
      document.getElementById("left_input_label").innerHTML = label + " name:";
      document.getElementById("right_input_label").innerHTML = "Artist name:";
    }
  }
</script>
{% endblock %}
