{% extends 'base.html' %}

{% block head %}
<title>SongSurf Homepage</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_page.css') }}">
{% endblock %}

{% block body %} 


<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="logo-container">
      <img src="static/css/images/SongSurf Logo.png" alt="Logo">
    </div>
    <form action="/signup_page" method="POST" class="form-container"> <!-- Everything within this form section interacts with backend to send data -->
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" placeholder="Enter your first name">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" placeholder="Enter your last name">
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </div>
</body>
</html>

{% endblock %}
